<a href="https://colab.research.google.com/github/YasminForestti/Processo-seletivo-Analytica-2022/blob/main/Obten%C3%A7%C3%A3o_dos_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **1)** Importação das bibliotecas

In [ ]:
import pandas as pd
import basedosdados as bd

## **2)** Baixando os Bancos de Dados
Os banco de dados foram baixados e colocados no ambiente do Colab

##**3)** Primeiro Contato com os Bancos de Dados

In [ ]:
raca_cor = pd.read_csv("/raca_cor.csv")
brasil = pd.read_csv("/brasil.csv")
causa_obito = pd.read_csv("/causa_obito.csv")
grupo_lgbtqia = pd.read_csv("/grupo_lgbtqia.csv")
local = pd.read_csv("/local.csv")

In [ ]:
raca_cor

     ano          raca_cor  homicidios  prop_homicidios_total
0   2019            Branca       121.0                  36.78
1   2019             Parda        90.0                  27.35
2   2019             Preta        32.0                   9.73
3   2019  Não Identificado        86.0                  26.14
4   2018            Branca       213.0                  58.40
5   2018             Parda       107.0                  29.30
6   2018             Preta        45.0                  12.30
7   2018  Não Identificado         NaN                    NaN
8   2017            Branca       260.0                  72.50
9   2017             Parda       101.0                  22.60
10  2017             Preta        28.0                   6.20
11  2017  Não Identificado        56.0                  15.50
12  2016            Branca         NaN                    NaN
13  2016             Parda         NaN                    NaN
14  2016             Preta         NaN                    NaN
15  2016  Não Identificado         NaN                    NaN
16  2015            Branca       131.0                  43.00
17  2015             Parda        85.0                  26.80
18  2015             Preta        23.0                   7.20
19  2015  Não Identificado        77.0                  24.30
20  2014            Branca       131.0                  41.45
21  2014             Parda        85.0                  26.89
22  2014             Preta        23.0                   7.27
23  2014  Não Identificado        77.0                  24.36
24  2013            Branca        87.0                  27.44
25  2013             Parda        85.0                  26.81
26  2013             Preta         8.0                   2.52
27  2013  Não Identificado       137.0                  43.21
28  2012            Branca         NaN                    NaN
29  2012             Parda         NaN                    NaN
30  2012             Preta         NaN                    NaN
31  2012  Não Identificado         NaN                    NaN
32  2011            Branca         NaN                    NaN
33  2011             Parda         NaN                    NaN
34  2011             Preta         NaN                    NaN
35  2011  Não Identificado         NaN                    NaN

In [ ]:
brasil

     ano  homicidios
0   2000         130
1   2001         132
2   2002         126
3   2003         125
4   2004         158
5   2005         135
6   2006         112
7   2007         142
8   2008         187
9   2009         199
10  2010         260
11  2011         266
12  2012         338
13  2013         314
14  2014         329
15  2015         319
16  2016         343
17  2017         445
18  2018         420
19  2019         329

In [ ]:
causa_obito

     ano              causa_obito  homicidios  prop_homicidios_total
0   2019              Arma Branca         100                  30.39
1   2019             Arma de Fogo          72                  21.90
2   2019  Estrangulamento/Asfixia          27                   8.21
3   2019             Espancamento          12                   3.64
4   2019                 Pauladas          12                   3.64
5   2019             Enforcamento           9                   2.74
6   2019                 Pedradas           6                   1.82
7   2019              Carbonizado           6                   1.82
8   2019                 Tijolada           2                   0.61
9   2019                  Garrafa           2                   0.61
10  2019            Atropelamento           2                   0.61
11  2019         Não Identificado          64                  19.50
12  2019                   Outros          15                   4.56

In [ ]:
grupo_lgbtqia

     ano              grupo  homicidios  prop_homicidios_total
0   2020                Gay        51.0                    NaN
1   2020  Trans ou Travesti       164.0                    NaN
2   2020           Travesti         NaN                    NaN
3   2020            Lésbica        10.0                    NaN
4   2020        Transsexual         NaN                    NaN
5   2020          Bissexual         3.0                    NaN
6   2019                Gay       174.0                  52.89
7   2019  Trans ou Travesti       121.0                  36.78
8   2019           Travesti        89.0                  27.05
9   2019            Lésbica        32.0                   9.73
10  2019        Transsexual        29.0                   8.81
11  2019          Bissexual         5.0                   1.52
12  2018                Gay       191.0                  45.50
13  2018            Lésbica        52.0                  12.40
14  2018  Trans ou Travesti       164.0                  39.00
15  2018          Bissexual         8.0                   1.90
16  2018        Transsexual         NaN                    NaN
17  2018           Travesti         NaN                    NaN
18  2017                Gay       194.0                  43.60
19  2017            Lésbica        43.0                   9.70
20  2017  Trans ou Travesti       191.0                  42.90
21  2017          Bissexual         5.0                   1.10
22  2017        Transsexual         NaN                    NaN
23  2017           Travesti         NaN                    NaN
24  2016                Gay       173.0                    NaN
25  2016  Trans ou Travesti       144.0                    NaN
26  2016            Lésbica        10.0                    NaN
27  2016          Bissexual         4.0                    NaN
28  2016        Transsexual         NaN                    NaN
29  2016           Travesti         NaN                    NaN
30  2015                Gay         NaN                  52.00
31  2015  Trans ou Travesti       119.0                  37.00
32  2015            Lésbica         NaN                  16.00
33  2015          Bissexual         NaN                  10.00
34  2015        Transsexual         NaN                    NaN
35  2015           Travesti         NaN                    NaN
36  2014                Gay       163.0                  50.00
37  2014  Trans ou Travesti       134.0                  41.00
38  2014            Lésbica        14.0                   4.00
39  2014          Bissexual         3.0                   0.90
40  2014        Transsexual         NaN                    NaN
41  2014           Travesti         NaN                    NaN
42  2013                Gay       186.0                    NaN
43  2013  Trans ou Travesti       108.0                    NaN
44  2013            Lésbica        14.0                    NaN
45  2013          Bissexual         2.0                    NaN
46  2013        Transsexual         NaN                    NaN
47  2013           Travesti         NaN                    NaN
48  2012                Gay       188.0                    NaN
49  2012           Travesti       128.0                    NaN
50  2012            Lésbica        19.0                    NaN
51  2012          Bissexual         2.0                    NaN
52  2012        Transsexual         NaN                    NaN
53  2012           Travesti         NaN                    NaN
54  2011                Gay       162.0                    NaN
55  2011  Trans ou Travesti        98.0                    NaN
56  2011            Lésbica         7.0                    NaN
57  2011          Bissexual         0.0                    NaN
58  2011        Transsexual         NaN                    NaN
59  2011           Travesti         NaN                    NaN

In [ ]:
local

     ano                       local  homicidios  prop_homicidios_total
0   2019                  Residência         111                  35.55
1   2019                 Via Pública          71                  21.58
2   2019                Matagal/Mata          12                   4.27
3   2019                         Bar           6                   1.82
4   2019                 Hotel/Motel           9                   2.73
5   2019          Rodovia/BR/Estrada          12                   3.65
6   2019                    Hospital           4                   1.21
7   2019                      Parque           4                   1.21
8   2019              Terreno Baldio           4                   1.21
9   2019                       Sítio           3                   0.92
10  2019                    Canavial           2                   0.61
11  2019                       Praia           2                   0.61
12  2019                         Rio           2                   0.61
13  2019                       Serra           2                   0.61
14  2019  Local com ao menos um caso          38                  11.55
15  2019            Não Identificado          39                  11.85